.preview{
    text-decoration: underline;
    font-size: large;
}
.textContainer{
    margin: 10px;
}

.copy{
    position: absolute;
    margin: 0 0 10px 0;

    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #b0b0b0;
background-color: rgb(40, 39, 39);
border-radius: 10px;
    
}
